---
import BlogFrame from '../layouts/BlogFrame.astro';
import '../styles/global.css';
---

<BlogFrame pageTitle="Elysium's blog">
  <main class="mx-auto max-w-screen-xl bg-gray-200 p-4">
    Welcome to my blog!<br />
  </main>
</BlogFrame>
