---
const current_year = new Date().getFullYear();
---

<footer
  class="mx-auto max-w-screen-xl border-t border-gray-200 bg-white dark:bg-gray-800">
  <div class="flex justify-center p-4">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© {current_year} Elysium. All Rights Reserved.
    </span>
  </div>
</footer>
